body {
    margin: 0px;
}

hr {
    border: 0.5px whitesmoke solid;
}

body a{
    text-decoration: none;
}

.a-deco a{
    text-decoration: none;
    color: white;
}

div, input, textarea {
    box-sizing: border-box;
}

.float-left {
    float: left;
    padding: 10px;
}

.float-right {
    float: right;
    padding: 10px;
}

.basic-div {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.basic-blank {
    width: 100%;
    background: rgba(128, 128, 128, 0.171);
    height: 13px;
    margin-top: 20px;
}

.main-top {
    width: 100%;
    background: violet;
    margin: auto;
    max-height: 200px;
}

.main-navbar {
    width: 100%;
    padding: 10px;
}

.main-title a {
    text-decoration: none;
    color: white;
    font-family: 
}

.sub-menu span{
    padding: 10px;
}

.profile-container {
    width: 90%;
    background: white;
    margin: auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
    padding: 17px;
    position: relative;
}

.profile-count {
    font-size: 13px;
}

.profile-thumb {
    width: 10%
}

.olzz-btn {
    background: violet; 
    padding: 8px; 
    border: none; 
    color: white;
}

.official-btn {
    background: white;
    padding: 8px;
    border: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.301);
}

.list-btn {
    background: none;
    outline: none;
    border: none;
    padding: 10px 0px;
    position: absolute;
    top: 4px;
    right: 0px;
    font-size: 15px;
}

.analistic-age {
    margin:auto;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.collapsible-button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background: white;
    cursor: pointer;
}

.collapsible-button:active {
    background: rgba(128, 128, 128, 0.171);
}

.content {
    display: 
    overflow: hidden;
}

.modal {
    z-index: 100;
    background: white;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
}

.basic-search {
    padding: 25px;
    border: none;
    color: rgba(31, 114, 31, 0.178);
    font-size: 20px;
}


input[type=text]:focus {
    outline:none;
}

.search-list-pic {
    width: 15%; 
    float: left;
}

.search-list-title {
    width: 80%; 
    float: left; 
    padding: 10px;
}

.modal a{
    color: black;
}

.close:hover, .close:focus {
    cursor: pointer;
}

.modal {
    display: none;
}

.all-items {
    width: 90%;
    background: pink;
    margin: auto;
    position: relative;
}