body {
    margin: 0px;
}

body a{
    text-decoration: none;
}

.a-deco a{
    text-decoration: none;
    color: white;
}

div, input, textarea {
    box-sizing: border-box;
}

.float-left {
    float: left;
    padding: 10px;
}

.float-right {
    float: right;
    padding: 10px;
}

.basic-div {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.main-top {
    width: 100%;
    background: violet;
    margin: auto;
    max-height: 200px;
}

.main-navbar {
    width: 100%;
    padding: 10px;
}

.main-title a {
    text-decoration: none;
    color: white;
    font-family: 
}

.sub-menu span{
    padding: 10px;
}

.profile-container {
    width: 90%;
    background: white;
    margin: auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.089);
    padding: 17px;
    position: relative;
}

.profile-count {
    font-size: 13px;
}

.profile-thumb {
    width: 10%
}

.olzz-btn {
    background: violet; 
    padding: 8px; 
    border: none; 
    color: white;
}

.official-btn {
    background: white;
    padding: 8px;
    border: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.301);
}

.analistic-age {
    margin:auto;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.collapsible-button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background: white;
    cursor: pointer;
}

.collapsible-button:active {
    background: rgba(128, 128, 128, 0.171);
}

.content {

    overflow: hidden;
}